body {
    display: flex;
    align-items: center;
    height: 100vh;
}

.weatherState {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

#city {
    grid-column: 1/4;
}

#weather-state {
    grid-column: 1/4;
}

#weatherImg {
    grid-column: 2/3;
    width: 120px;
    border-bottom: 2px solid transparent;
    animation: ex 0.5s infinite alternate-reverse;
}

@keyframes ex {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

.temperature {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.tempWrap {
    grid-column: 1/2;
}

.minTempWrap {
    grid-column: 1/2;
}

.maxTempWrap {
    grid-column: 1/2;
}

.humidityWrap {
    grid-column: 3/4;
    grid-row: 1;
}

.sunriseWrap {
    grid-column: 3/4;
    grid-row: 2;
}

.sunsetWrap {
    grid-column: 3/4;
    grid-row: 3;
}

.form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 40px);
}

#city-input {
    grid-column: 1/3;
}

#submit-form {
    grid-column: 3;
}

@media (max-width:900px) {
    .form {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(1, 40px 50px);

    }

    #city-input {
        grid-column: 2/5;
        margin-bottom: 5px;
    }

    #submit-form {
        grid-column: 3/4;
        grid-row: 2;
    }




}