body {
    background-color: #f2f2f2;
}

.container {
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-image: url("background.jpg")
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: #67395b;
    text-align: center;
    margin-bottom: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #51299f;
}

h2 {
    font-size: 28px;
    font-weight: bold;
    color: #67395b;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
    color: #67395b;
    margin-bottom: 10px;
}

.weather{
    text-align: center;
}

#Temp  {
    font-size: 30px;
    font-weight: bold;
    color: green;
    margin-bottom: 10px;
    background-color: rgb(177, 216, 243);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    
}

#Temp-min  {
    font-size: 30px;
    color: #0099ff;
    margin-bottom: 10px;
    background-color: rgb(177, 216, 243);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;


}

#Temp-max  {
    font-size: 30px;
    color: #cc3300;
    margin-bottom: 10px;
    background-color: rgb(177, 216, 243);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;

}

#weather-state, #temp, #temp-min, #temp-max {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
#temp{
    color: green;
}
#temp-min{
    color: blue;
}
#temp-max{
    color:red;
}

#weather-state{
    color:#28efca;
}

#city {
    font-size: 36px;
    font-weight: bold;
    color: #67395b;
    margin-bottom: 20px;
}

.form input[type="text"] {
    border-radius: 10px;
    font-size: 16px;
    border: none;
    color: orange;
    font-weight: bold;
}

.form button {
    background-color: #0077ff;
    border: none;
    border-radius: 10px;
    color: #67395b;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 20px;
}

.form button:hover {
    background-color: #005ae6;
}
